@media only screen and (hover: none) {
	body {
		#menu {
			#menu-box {
				#close-button {
					font-size: 6vmin;
					width: 6vmin;
				}

				section {
					width: 65vmin;
					height: 90vmin;

					div {
						select {
							font-size: 2.4vmin;
							width: 45vmin;
							height: 5vmin;
							padding-left: 0.6vmin;
							margin: 2.5vmin;
						}
					}
				}

				h2 {
					font-size: 4vmin;
					padding: 4vmin;
				}

				label, h3 {
					font-size: 2.5vmin;
				}

				footer {
					font-size: 2vmin;
					padding: 1vmin;

					span {
						float: right;

						&:nth-child(2) {
							display: none;
						}
					}

				}
			}
		}

		#container {
			margin: 0;

			#titles {
				padding-left: 1vmin;
			}

			#inner-description {
				padding-right: 1vmin;
			}
		}
	}

	@media (max-aspect-ratio: 4/3) {
		body {
			#menu {
				#menu-box {
					flex-direction: column;

					.vertical-line {
						width: auto;
						height: 0.2vmin;
						margin: 0 2vmin;
					}
				}
			}
		}
	}
}

@media (max-aspect-ratio: 4/3) {
	body {

		#labels {

			table {

				th {
					&:nth-child(1) {
						width: 10%;
					}

					&:nth-child(2) {
						width: 14%;
					}

					&:nth-child(3) {
						width: 26%;
					}

					&:nth-child(4) {
						width: 26%;
					}

					&:nth-child(5) {
						width: 14%;
					}
				}

				#inner-description {
					td {
						&:last-child {
							display: none;
						}

						&:nth-child(2) {
							display: none;
						}
					}
				}
			}
		}

		#timetables {

			table {

				col {

					&.time {
						width: 10%;
					}

					&.trainNo {
						width: 14%;
					}

					&.fromTo {
						width: 26%;
					}

					&.via {
						width: 26%;
					}

					&.operator {
						width: 0;
					}

					&.platform {
						width: 0;
					}

					&.remarks {
						width: 14%;
					}
				}
			}
		}
	}
}