$color_1: #FFD200;
$color_2: #F0F8FF;
$color_3: #140075;
$color_4: #6C6C6C;
$font-family_1: "Arial", sans-serif;
$font-family_2: "Segoe UI", sans-serif;
$background-color_1: #000000;
$background-color_2: #140075;
$background-color_3: #F0F8FF;

@keyframes ticker {
	0% {
		transform: translate3d(var(--elementWidth), 0, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	display: flex;
	height: 100vh;
}

#container {
	display: flex;
	flex-flow: column;
	color: $color_1;
	margin: 0 3vmin 3vmin 3vmin;
	overflow: hidden;
}

#titles {
	display: flex;
	align-items: baseline;
	font-family: $font-family_2;
	column-gap: 6.5vmin;

	.title-pl {
		font-size: 10.5vmin;
		font-weight: bold;
	}

	.title-en {
		font-size: 8.5vmin;
		font-style: italic;
	}
}

#labels {

	table {
		font-size: 2vmin;
		font-weight: bold;
		border-collapse: separate;
		width: 100%;

		th {
			line-height: 1em;
			padding: 2vmin 0 1.5vmin 0;
			text-align: left;

			&:nth-child(1) {
				width: 7%;
				text-align: center;
			}

			&:nth-child(2) {
				width: 9%;
				text-align: center;
			}

			&:nth-child(3) {
				border-left: 1vmin solid black;
				width: 36%;
			}

			&:nth-child(4) {
				width: 24%;
			}

			&:nth-child(5) {
				vertical-align: bottom;
				width: 24%;

				#inner-description {
					font-size: 2vmin;
					font-weight: bold;
					white-space: nowrap;
					float: right;
					text-align: left;

					td {
						float: right;

						&:nth-child(-n+2) {
							margin-left: 1vmin;
						}
					}
				}
			}
		}
	}
}

#timetables {
	flex-grow: 1;
	background-color: $background-color_2;

	table {
		font-weight: bold;
		table-layout: fixed;
		width: 100%;
		border-collapse: separate;
		background-color: $background-color_2;
		border-spacing: 0 0.7vmin;

		col {

			&.time {
				width: 7%;
			}

			&.trainNo {
				width: 9%;
			}

			&.fromTo {
				width: 36%;
			}

			&.via {
				width: 32%;
			}

			&.operator {
				width: 5%;
			}

			&.platform {
				width: 4%;
			}

			&.remarks {
				width: 7%;
			}
		}

		.special-row {
			background-color: $background-color_3;
			color: $color_3;
			width: 100%;

			span {
				font-weight: 600;
				padding-top: 0.2vmin;
			}
		}

		tr {
			background-color: $background-color_2;

			td {
				color: $color_2;
				font-size: 3vmin;
				overflow: hidden;
				white-space: nowrap;
				text-align: center;
				vertical-align: middle;

				span {
					display: inline-block;
				}

				&:nth-child(2) {
					font-weight: 600;

					div {
						background-color: $background-color_3;
						color: $color_3;
						padding-top: 0.2vmin;
					}
				}

				&:nth-child(3) {
					text-align: left;
					border-left: 1vmin solid $color_3;
					font-size: 2.6vmin;
				}

				&:nth-child(4) {
					text-align: left;
					border-left: 1vmin solid $color_3;
					font-style: italic;
					font-weight: normal;
				}

				&:nth-child(7) {
					border-left: 1vmin solid $color_3;
				}
			}
		}
	}
}

:root {
	--elementwidth: 100%;
}

// create slide animation to right
@keyframes slide {
	0% {
		left: 0;
	}
	100% {
		left: 100%;
	}
}

#sidebar {
	color: $color_2;
	height: 100%;
}

.menu-btn {
	width: 100%;
	height: 3vmin;
	font-size: 2.5vmin;
	color: $color_2;
	background-color: black;
	line-height: 1.2em;
	border: 0;

	&:hover {
		background-color: $background-color_3;
		color: $color_3;
	}
}

.fl {
	float: left;
}

.w3 {
	width: 3vmin;
}

#button-holder {
	display: flex;
}

#menu-holder {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 22vmin;
	padding: 0 1vw 0 1vw;

	#menu {

		flex-grow: 1;

		.menu-header {
			font-size: 2vmin;
			font-weight: bold;
			text-align: center;
			padding: 1vh 0 0 0;
			color: $color_2;
		}

		#submenu-1 {
			font-size: 1.5vmin;
			text-align: center;
			color: $color_2;

			label {
				line-height: 2em;
			}

			select {
				font-size: 1.2vmin;
				background-color: $color_2;
				border: 0;
				width: 100%;
				height: 2vmin;
				padding-left: 0.5vmin;
			}
		}

		#submenu-2 {
			padding: 1vh 0 0 0;
			font-size: 1.2vmin;
			line-height: 1.5em;

			input {
				background-color: $color_2;
				border: 0;
			}

		}
	}

	#footer {
		font-size: 1vmin;
		text-align: center;
		padding-bottom: 1vh;
	}
}



