$color_1: #FFD200;
$color_2: #F0F8FF;
$color_3: #140075;
$color_4: #6C6C6C;
$font-family_1: "Arial", sans-serif;
$font-family_2: "Segoe UI", sans-serif;
$background-color_1: #000000;
$background-color_2: #140075;
$background-color_3: #F0F8FF;

:root {
	--elementwidth: 100%;
}

@keyframes ticker {
	0% {
		transform: translate3d(var(--elementWidth), 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	display: flex;
	height: 100vh;
}

#container {
	display: flex;
	flex-flow: column;
	color: $color_1;
	margin: 0 3vmin 3vmin 3vmin;
	overflow: hidden;
	transition: margin 1s cubic-bezier(0, 0, 0, 1);

	&.no-margin {
		margin: 0;
	}

	&.yellow-text {
		color: $color_1;
	}

	&.white-text {
		color: $color_2;
	}
}

#menu {
	display: flex;
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: background-color 0.6s;

	&.background-fade {
		background-color: rgba(0, 0, 0, 0.4);
	}


	#close-box {
		position: fixed;
		z-index: 3;

		&.active {
			width: 100vw;
			height: 100vh;
		}
	}

	#menu-button, #fullscr-button, #type-button {
		z-index: 4;
		position: absolute;
		right: 0;
		font-size: 3vmin;
		width: 4vmin;
		height: 4vmin;
		color: $color_2;
		line-height: 1.2em;
		transition: transform 1s cubic-bezier(0, 0, 0, 1), color 0.3s;

		&:hover {
			color: $color_1;
		}

		&.rotate-button-left {
			transform: rotate(-90deg);
		}

		&.rotate-button-right {
			transform: rotate(90deg);
		}

		&.resize-button {
			transform: scale(1.2);
		}
	}

	#menu-button {
		top: 0;

		&:after {
			content: "☰";
		}

	}

	#type-button {
		top: 3.25vmin;

		&:after {
			content: "⮀";
		}
	}

	#fullscr-button {
		top: 6.5vmin;

		&:after {
			content: "⛶";
		}
	}

	#menu-box {
		z-index: 4;
		display: flex;
		position: relative;
		background-color: #111;
		box-shadow: 0 0 2.5vmin 0 rgba(0, 0, 0, 0.5);
		transition: transform 1.2s cubic-bezier(0, 0, 0, 1);

		&.slide-in {
			transform: translate3d(0, 100vh, 0) scale(0.8);
		}

		.vertical-line {
			width: 0.2vmin;
			background-color: #222;
			margin: 2vmin 0;
			border-radius: 0.2vmin;
		}

		section {
			overflow: hidden;
			width: 35vmin;
			height: 50vmin;

			div {
				display: flex;
				flex-direction: column;
				align-items: center;

				select {
					margin: 1.5vmin;
					font-size: 1.5vmin;
					width: 25vmin;
					height: 3vmin;
					border: 0.1vmin solid $color_2;
					background: none;
					color: $color_2;
					padding-left: 0.3vmin;

					optgroup, option {
						color: black;
						text-align: left;
					}

					optgroup {
						text-align: center;
					}

					&:hover, &:focus {
						border: 0.1vmin solid $color_1;
						color: $color_1;
					}
				}

				[disabled] {
					opacity: 0.5;
				}
			}
		}

		h2 {
			font-size: 2vmin;
			font-weight: bold;
			text-align: center;
			padding: 2vmin;
			color: $color_2;
		}

		label, h3 {
			font-size: 1.4vmin;
			text-align: center;
			color: $color_2;
		}

		footer {
			position: absolute;
			display: inline-block;
			bottom: 0;
			width: 100%;
			font-size: 1vmin;
			padding: 0.5vmin 0.7vmin;
			color: $color_2;
			font-style: italic;
			justify-content: space-around;
			span {
				a {
					color: $color_2;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				&:nth-child(2) {
					float: right;
				}
			}

		}
	}
}

#titles {
	display: flex;
	align-items: baseline;
	font-family: $font-family_2;
	column-gap: 6.5vmin;

	.title-pl {
		font-size: 10.5vmin;
		font-weight: bold;
	}

	.title-en {
		font-size: 8.5vmin;
		font-style: italic;
	}
}

#labels {

	table {
		font-size: 2vmin;
		font-weight: bold;
		border-collapse: separate;
		width: 100%;

		th {
			line-height: 1em;
			padding: 2vmin 0 1.5vmin 0;
			text-align: left;

			&:nth-child(1) {
				width: 7%;
				text-align: center;
			}

			&:nth-child(2) {
				width: 9%;
				text-align: center;
			}

			&:nth-child(3) {
				border-left: 1vmin solid black;
				width: 36%;
			}

			&:nth-child(5) {
				vertical-align: bottom;

				#inner-description {
					font-size: 2vmin;
					font-weight: bold;
					white-space: nowrap;
					float: right;
					text-align: left;

					td {
						float: right;

						&:nth-child(-n+2) {
							margin-left: 1vmin;
						}
					}
				}
			}
		}
	}
}

#timetables {
	flex-grow: 1;
	background-color: $background-color_2;

	table {
		font-weight: bold;
		table-layout: fixed;
		width: 100%;
		border-collapse: separate;
		background-color: $background-color_2;
		border-spacing: 0 0.7vmin;

		col {

			&.time {
				width: 7%;
			}

			&.trainNo {
				width: 9%;
			}

			&.fromTo {
				width: 36%;
			}

			&.via {
				width: 32%;
			}

			&.operator {
				width: 5%;
			}

			&.platform {
				width: 4%;
			}

			&.remarks {
				width: 7%;
			}
		}
//⛶
		.special-row {
			background-color: $background-color_3;
			color: $color_3;
			width: 100%;

			span {
				font-weight: 600;
				padding-top: 0.2vmin;
			}
		}

		tr {
			background-color: $background-color_2;

			td {
				color: $color_2;
				font-size: 3vmin;
				overflow: hidden;
				white-space: nowrap;
				text-align: center;
				vertical-align: middle;

				span {
					display: inline-block;
				}

				&:nth-child(2) {

					div {
						background-color: $background-color_3;
						color: $color_3;
						padding-top: 0.2vmin;
					}
				}

				&:nth-child(3) {
					text-align: left;
					border-left: 1vmin solid $color_3;
					font-size: 2.6vmin;
				}

				&:nth-child(4) {
					text-align: left;
					border-left: 1vmin solid $color_3;
					font-style: italic;
					font-weight: normal;
				}

				&:nth-child(7) {
					border-left: 1vmin solid $color_3;
				}
			}
		}
	}
}



