$color_1: #fff646;
$color_2: #F0F8FF;
$color_3: #140075;
$color_4: #6C6C6C;
$color_5: #2911b7;
$font-family_1: "Arial", sans-serif;
$font-family_2: "Calibri", sans-serif;
$font-family_3: "Sofia Sans Condensed", sans-serif;
$background-color_1: #000000;
$background-color_2: #1f00b0;
$background-color_3: #F0F8FF;

body {
	background-color: $background-color_2;
}

#container {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	color: $background-color_1;
	overflow: hidden;
	transition: margin 1s cubic-bezier(0, 0, 0, 1);

	#inner-description, #titles {
		transition: padding 1s cubic-bezier(0, 0, 0, 1);
	}

	&.no-margin {
		margin: 0;

		#inner-description {
			padding-right: 1.5vmin;
		}

		#titles {
			padding-left: 1.5vmin;
		}
	}

	&.yellow-text {
		color: $color_1;
	}

	&.white-text {
		color: $color_2;
	}
}

#titles {
	display: flex;
	align-items: baseline;
	font-family: $font-family_2;
	column-gap: 12vmin;
	line-height: 12vmin;

	.title-pl {
		font-size: 10.5vmin;
		font-weight: bold;
	}

	.title-en {
		font-size: 10.5vmin;
		font-style: italic;
	}
}

#labels {
	font-family: $font-family_3;

	table {
		font-size: 3vmin;
		border-collapse: separate;
		width: 100%;
		font-weight: bold;

		th {
			line-height: 1em;
			padding: 2vmin 0 1.5vmin 0;
			text-align: left;
			font-weight: normal;

			&:nth-child(1) {
				width: 6%;
				padding-left: 1vmin;
			}

			&:nth-child(2) {
				width: 5%;
			}

			&:nth-child(3) {
				width: 42%;
				padding-left: 3vmin;
			}

			&:nth-child(4) {
				width: 41%;
			}

			&:nth-child(5) {
				width: 5.5%;
			}
		}
	}

	&.enlarged {
		table {
			font-size: 3.7vmin;

			th {

				&:nth-child(1) {
					width: 10%;
				}

				&:nth-child(2) {
					width: 9%;
				}

				&:nth-child(3) {
					width: 38%;
					padding-left: 0;
				}

				&:nth-child(4) {
					width: 36%;
				}

				&:nth-child(5) {
					width: 0;
				}
			}
		}
	}
}

#timetables {
	flex-grow: 1;
	background-color: $background-color_2;
	font-family: $font-family_2;

	table {
		font-weight: bold;
		table-layout: fixed;
		width: 100%;
		background-color: $background-color_2;

		col {
			&.time {
				width: 6%;
			}

			&.operator {
				width: 5%;
			}

			&.fromTo {
				width: 42%;
			}

			&.via {
				width: 43%;
			}
		}

		.special-row {
			background-color: $background-color_3;
			color: $background-color_2;
			width: 100%;

			span {
				font-size: 6vmin;
				height: 100%;
				padding-top: 2.5vmin;
			}
		}

		tr {
			background-color: $background-color_2;

			td {
				color: $color_2;
				overflow: hidden;
				white-space: nowrap;
				text-align: center;
				vertical-align: middle;

				span {
					display: inline-block;
				}

				&:nth-child(1) {
					background-color: $background-color_3;
					color: $background-color_2;
					font-weight: normal;
					text-align: left;
					font-size: 3.5vmin;
					vertical-align: top;
					overflow: hidden;
					padding-left: 0.5vmin;

					p {
						line-height: 2.5vmin;
						margin: 1vmin 0 0.1vmin 0;
					}

					 .indented {
						 font-size: 2vmin;
						 overflow: hidden;
					 }
				}

				&:nth-child(2) {
					background-color: $background-color_3;
					color: $background-color_2;
					font-size: 3.5vmin;
					font-weight: normal;
				}

				&:nth-child(3) {
					font-size: 3.5vmin;
					text-align: left;
					vertical-align: top;
					font-weight: normal;
					padding-left: 1vmin;
					overflow: hidden;

					.indented {
						font-size: 2vmin;
						margin-left: 4vmin;
						overflow: hidden;
					}
				}

				&:nth-child(4) {
					text-align: left;
					font-style: italic;
					font-weight: normal;
					font-size: 2vmin;
				}

				&:nth-child(5) {
					font-weight: normal;
					font-size: 3.5vmin;
				}


				&:nth-child(1), &:nth-child(2){
					box-shadow: inset 0 0.1vmin 0 $color_4;
				}
			}

			&:nth-child(n+12) {
				display: none;
			}

			&:nth-child(odd) {
				background-color: $color_5;
			}
		}
	}

	&.enlarged {
		table {
			col {
				&.time {
					width: 10%;
				}

				&.operator {
					width: 9%;
				}

				&.fromTo {
					width: 38%;
				}

				&.via {
					width: 36%;
				}
			}

			tr {
				td {
					font-size: 3vmin;

					&:nth-child(1) {
						font-size: 6.5vmin;

						p {
							line-height: 5vmin;
							margin-top: 1vmin
						}

						 div:last-child {
							font-size: 3vmin;
							margin-left: 0.5vmin;
						}
					}

					&:nth-child(2) {
						font-size: 7vmin;
					}

					&:nth-child(3) {
						font-size: 6.5vmin;

						div:first-child {
							line-height: 5vmin;
							margin: 1vmin 0;
						}

						div:last-child {
							font-size: 2.5vmin;
							margin-left: 4vmin;
						}
					}

					&:nth-child(4) {
						font-size: 2.5vmin;
					}

					&:nth-child(5) {
						font-size: 6.5vmin;
					}
				}

				&:nth-child(n+8) {
					display: none;
				}

				&:nth-child(odd) {
					background-color: $color_5;
				}
			}
		}
	}
}

@media (max-aspect-ratio: 4.5/3) {
	#labels {
		table {
			th {
				&:nth-child(1) {
					width: 10%;
				}

				&:nth-child(2) {
					width: 10%;
				}

				&:nth-child(3) {
					width: 38%;
				}

				&:nth-child(4) {
					width: 31%;
				}
			}
		}

		&.enlarged {
			table {
				th {
					&:nth-child(1) {
						width: 18%;
					}

					&:nth-child(3) {
						width: 38%;
					}

					&:nth-child(4) {
						width: 36%;
					}

					&:nth-child(2), &:nth-child(5){
						display: none;
					}
				}
			}
		}
	}


	#timetables {
		table {
			col {
				&.time {
					width: 10%;
				}

				&.operator {
					width: 10%;
				}

				&.fromTo {
					width: 38%;
				}

				&.via {
					width: 33%;
				}
			}
		}

		&.enlarged {
			table {
				col {
					&.time {
						width: 18%;
					}

					&.fromTo {
						width: 38%;
					}

					&.via {
						width: 36%;
					}

					&.operator, &.platform {
						width: 0;
					}
				}
			}
		}
	}
}