@media only screen and (hover: none) {
	body {
		#menu {
			#button-box {
				padding: 0.8vmin 1vmin;
				flex-direction: column;

				a {
					font-size: 5.5vmin;
				}

				#type-button {
					order: 2;
				}

				#margin-button {
					display: none;
				}
			}

			#menu-box, #menu-box-2 {
				section {
					width: 65vmin;
					height: 90vmin;

					div {
						select {
							font-size: 2.4vmin;
							width: 45vmin;
							height: 5vmin;
							padding-left: 0.6vmin;
							margin: 2.5vmin;
						}

						a {
							width: 45vmin;
							height: 5vmin;
							font-size: 2.4vmin;
						}

						.container {
							width: 45vmin;
							margin: 2.5vmin;
							gap: 1.25vmin;

							div {
								width: 100%;
								gap: 1.25vmin;
							}
						}
					}
				}

				h2 {
					font-size: 4vmin;
					padding: 4vmin;
				}

				.category-header {
					font-size: 2.5vmin;
				}

				.menu-page-switcher {
					font-size: 6vmin;
					padding: 1vmin;
				}

				footer {
					font-size: 2.2vmin;
					padding: 1.2vmin;
				}
			}
		}

		#container {
			margin: 0;

			#titles {
				padding-left: 1vmin;
			}

			#inner-description {
				padding-right: 1vmin;
			}
		}
	}

	@media (orientation: portrait) {
		body {
			#menu {
				#menu-box, #menu-box-2 {
					flex-direction: column;

					.vertical-line {
						width: auto;
						height: 0.2vmin;
						margin: 0 2vmin;
					}
				}

				footer {
					font-size: 2.2vmin;
					display: flex !important;

					span {

						&:nth-child(2) {
							display: none;
						}
					}
				}
			}
		}
	}
}