@media only screen and (hover: none) {
	body {
		#menu {
			#button-box {
				padding: 0.8vmin 1vmin;
				flex-direction: column;

				a {
					font-size: 5.5vmin;
				}

				#type-button {
					order: 2;
				}

				#margin-button {
					display: none;
				}
			}

			#menu-box, #menu-box-2 {
				section {
					width: 65vmin;
					height: 90vmin;

					div {
						select {
							font-size: 2.4vmin;
							width: 45vmin;
							height: 5vmin;
							padding-left: 0.6vmin;
							margin: 2.5vmin;
						}

						a {
							width: 45vmin;
							height: 5vmin;
							font-size: 2.4vmin;
						}

						.container {
							width: 45vmin;
							margin: 2.5vmin;
							gap: 1.25vmin;

							div {
								width: 100%;
								gap: 1.25vmin;
							}
						}
					}
				}

				h2 {
					font-size: 4vmin;
					padding: 4vmin;
				}

				label, h3 {
					font-size: 2.5vmin;
				}

				footer {
					font-size: 2.2vmin;
					padding: 1.2vmin;
				}
			}
		}

		#container {
			margin: 0;

			#titles {
				padding-left: 1vmin;
			}

			#inner-description {
				padding-right: 1vmin;
			}
		}
	}

	@media (orientation: portrait) {
		body {
			#menu {
				#menu-box, #menu-box-2 {
					flex-direction: column;

					.vertical-line {
						width: auto;
						height: 0.2vmin;
						margin: 0 2vmin;
					}
				}

				footer {
					font-size: 2.2vmin;
					display: flex !important;

					span {

						&:nth-child(2) {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media (max-aspect-ratio: 4/3)  {
	body {
		#labels {
			table {
				th {
					&:nth-child(1) {
						width: 10%;
					}

					&:nth-child(2), &:nth-child(5) {
						width: 14%;
					}

					&:nth-child(3),  &:nth-child(4) {
						width: 26%;
					}
				}

				#inner-description {
					td {
						&:last-child, &:nth-child(2) {
							display: none;
						}
					}
				}
			}

			&.enlarged {
				table {
					th {
						&:nth-child(1) {
							width: 12%;
						}

						&:nth-child(2), &:nth-child(5) {
							width: 15%;
						}

						&:nth-child(3),  &:nth-child(4) {
							width: 26%;
						}
					}
				}
			}
		}

		#timetables {
			table {
				col {
					&.time {
						width: 10%;
					}

					&.trainNo, &.remarks {
						width: 14%;
					}

					&.fromTo, &.via  {
						width: 26%;
					}

					&.operator, &.platform {
						width: 0;
					}
				}
			}

			&.enlarged {
				table {
					col {
						&.time {
							width: 12%;
						}

						&.trainNo, &.remarks {
							width: 15%;
						}

						&.fromTo, &.via  {
							width: 26%;
						}

						&.operator, &.platform {
							width: 0;
						}
					}
				}
			}
		}
	}
}