$color_1: #000000;
$color_2: #F0F8FF;
$color_3: #d8da29;
$color_4: #d9d9d9;
$color_5: #6C6C6C;
$background-color_1: #fdff32;
$background-color_2: #F0F8FF;
$font-family_1: "Arial Black", sans-serif;
$font-family_2: "Arial Bold", sans-serif;
$font-family_3: "Arial", sans-serif;

body {
	background-color: $background-color_2;
	width: 100vw;

	&.yellow-bg {
		background-color: $background-color_1;
	}
}

#button-box {
	position: fixed !important;

	a {
		color: $color_5 !important;
	}

	#timer-button {
		display: none;
	}
}

#container {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	color: $color_1;
	margin: 2.5vmin 3.5vmin;
}

#titles {
	display: flex;
	align-items: center;

	div {
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	#left-box {
		.big {
			font-size: 6vmin;
		}

		flex-direction: row;
		align-items: center;

		span {
			line-height: 3.3vmin;
			height: 3.3vmin;

			&:nth-child(2) {
				padding-left: 0.2vmin;
			}
		}

		#title-type {
			font-size: 2vmin;

			b {
				font-size: 2.8vmin;
				font-weight: bold;
				font-family: $font-family_1;
			}
		}

		#title-scenery {
			font-size: 2.5vmin;
			font-weight: bold;
		}
	}

	#right-box {
		flex-grow: 1;
		flex-direction: row;
		justify-content: flex-end;
		column-gap: 1vmin;

		img {
			height: 6vmin;
			width: auto;
		}

		div > img {
			height: auto;
			width: 15vmin;
		}

		span {
			font-size: 3vmin;
			color: red;
			font-family: $font-family_1;
			line-height: 2.5vmin;
			display: inline-block;
		}

		div {
			align-items: flex-end;
			justify-content: space-between;
		}
	}
}

#timetables {
	.red {
		color: red;
	}

	table {
		table-layout: fixed;
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 4vmin;

		thead {
			&.yellow-bg {
				tr:nth-child(4), tr:nth-child(5) {
					background: $color_3;

					td:last-child {
						display: table-cell;
					}
				}

				tr {
					td:last-child {
						width: 16vmin;
					}
				}
			}

			tr:nth-child(3) {
				font-size: 1.1vmin;
				line-height: 1.4vmin;
				font-weight: bold;

				span {
					text-align: right;
				}
			}

			tr:nth-child(4), tr:nth-child(5) {
				font-weight: bold;
				background: $color_4;
				border-left: 0.2vmin solid $color_1;
				border-right: 0.2vmin solid $color_1;

				td {
					border-left: 0.2vmin solid $color_1;
				}

				td:last-child {
					display: none;
				}
			}

			tr:nth-child(4) {
				border-top: 0.2vmin solid $color_1;
			}

			tr:nth-child(5) {
				border-bottom: 0.2vmin solid $color_1;

				td:first-child {
					padding: 0 0.5vmin;
				}
			}

			tr {
				td {
					text-align: center;
					vertical-align: middle;

					span {
						display: block;
					}

					&:nth-child(1) {
						width: 7.5vmin;
					}

					&:nth-child(2) {
						width: 5vmin;
					}

					&:nth-child(3) {
						width: 10vmin;
					}

					&:nth-child(4) {
						width: auto;
					}

					&:nth-child(5) {
						width: 0;
					}
				}
			}

			.header-pl {
				font-size: 1.5vmin;
				font-family: $font-family_2;
			}

			.header-en {
				font-size: 1vmin;
				font-family: $font-family_3;
				font-style: italic;
				padding: 0.2vmin 0;
			}
		}

		tbody {
			&.yellow-bg {
				td:nth-child(1), td:nth-child(2) {
					background: $color_3;
				}
			}

			border: 0.2vmin solid $color_1;

			tr {
				vertical-align: top;
				border-bottom: 0.2vmin solid $color_1;
			}

			td {
				text-align: center;

				&:nth-child(1) {
					background: $color_4;
					font-weight: bold;
					font-size: 2.5vmin;
					text-align: right;
					vertical-align: top;
					padding-top: 0.5vmin;
					width: 7.5vmin;
				}

				&:nth-child(2) {
					background: $color_4;
					font-size: 2vmin;
					vertical-align: top;
					padding: 0.3vmin;
					width: 5vmin;
				}

				&:nth-child(3) {
					width: 10vmin;
					font-size: 1.4vmin;
					padding: 0.3vmin 0.3vmin;
					vertical-align: top;
					line-height: 1.6vmin;

					div {
						display: flex;
						flex-direction: column;
						align-items: center;
					}

					.train-name {
						font-style: italic;
					}

					.train-route {
						font-size: 1.1vmin;
						font-weight: bold;
						top: 0.5vmin;
						color: $color_5;
					}

					.symbol-text {
						margin: 0 0.4vmin 0 0.2vmin;
						font-size: 1.4vmin !important;
					}

					.symbols {
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: center;

						span {
							font-size: 1.83vmin;
						}
					}
				}

				&:nth-child(4) {
					width: auto;
					font-size: 1.5vmin;
					vertical-align: top;
					padding: 0.3vmin 0 0.4vmin 0.7vmin;
					text-align: left;

					.text-bold {
						display: inline-block;
						font-size: 2.2vmin;
						font-weight: bold;
					}

					.departure {
						float: right;
						padding-right: 0.8vmin;
						padding-top: 0.2vmin;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
	#board {
		zoom: 1.75;
	}
}

@media print {
	@page {
		margin: 0;
	}

	#menu {
		display: none;
	}

	#container {
		margin: 0 4vmin;
	}

	table {
		thead {
			tr:first-child {
				height: 3vmin;
			}
			display: table-header-group;
		}

		tfoot {
			display: table-footer-group;
			height: 4vmin;
		}

		tr, td {
			page-break-inside: avoid;
			page-break-after: auto;
		}
	}
}