$color_1: #FFD200;
$color_2: #F0F8FF;
$color_3: #140075;
$color_4: #6C6C6C;
$font-family_1: "Arial", sans-serif;
$font-family_2: "Segoe UI", sans-serif;
$background-color_1: #000000;
$background-color_2: #140075;
$background-color_3: #F0F8FF;

body {
	&::-webkit-scrollbar {
		width: 0.8vmin;
		background-color: #111;
	}

	&::-webkit-scrollbar-thumb {
		background-color: white;
		border-radius: 1vmin;
	}
}

:root {
	--elementwidth: 100%;
}

@keyframes ticker {
	0% {
		transform: translate3d(var(--elementWidth), 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	display: flex;
	height: 100vh;
}

#board {
	display: flex;
}

#menu {
	display: flex;
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: background-color 0.6s;

	&.background-fade {
		background-color: rgba(0, 0, 0, 0.4);
	}


	#close-box {
		position: fixed;
		z-index: 3;

		&.active {
			width: 100vw;
			height: 100vh;
		}
	}

	#button-box {
		z-index: 4;
		position: absolute;
		right: 0;
		top: 0;
		font-size: 3vmin;
		display: flex;
		flex-direction: row;
		padding: 0.4vmin 0.3vmin;
		text-align: center;

		[mobile] {
			display: none;
		}

		a {
			font-size: 3.3vmin;
			color: $color_2;
			transition: color 0.3s cubic-bezier(0, 0, 0, 1), transform 0.3s cubic-bezier(0, 0, 0, 1);
			transform-origin: 50% 49%;
			user-select: none;

			&:hover {
				color: $color_1;
				cursor: pointer;
				transform: scale(0.95);
			}

			&:active {
				transform: scale(0.85);
			}

			&.fill {
				font-variation-settings:
				'FILL' 1;
			}

			&.turn {
				transform: scaleX(-1);
			}

			&.scale-down {
				transform: scale(0.9);
			}

			&.scale-up {
				transform: scale(1.1);
			}
		}

		&.hidden {
			display: none;
		}
	}

	#menu-box, #menu-box-2 {
		z-index: 4;
		position: relative;
		visibility: hidden;
		opacity: 0;
		display: flex;
		background-color: #111;
		box-shadow: 0 0 2.5vmin 0 rgba(0, 0, 0, 0.5);
		transition:  opacity 0.2s cubic-bezier(0, 0, 0, 1), transform 0.3s cubic-bezier(0, 0, 0, 1), visibility 0.2s;
		transform: scale(0.8);

		&.popup {
			transform: scale(1);
			visibility: visible;
			opacity: 100;
		}

		.vertical-line {
			width: 0.2vmin;
			background-color: #222;
			margin: 2vmin 0;
			border-radius: 0.2vmin;
		}


		.menu-page-switcher {
			color: $color_2;
			position: absolute;
			padding: 0.2vmin;
			font-size: 3vmin;
			font-variation-settings: 'FILL' 1;

			&:hover {
				color: $color_1;
			}
		}

		#next-page {
			right: 0;
			cursor: pointer;
			user-select: none;
		}

		#previous-page {
			cursor: pointer;
			user-select: none;
		}

		section {
			overflow: hidden;
			width: 37vmin;
			height: 54vmin;

			div {
				display: flex;
				flex-direction: column;
				align-items: center;

				select {
					margin: 1.5vmin;
					font-size: 1.5vmin;
					width: 25vmin;
					height: 3vmin;
					border: 0.1vmin solid $color_2;
					background: none;
					color: $color_2;
					padding: 0 0.4vmin;

					optgroup, option {
						color: white;
						text-align: left;
						background-color: #111;
					}

					optgroup {
						text-align: center;
					}

					&::-webkit-scrollbar {
						width: 0.8vmin;
						background-color: #111;
					}

					&::-webkit-scrollbar-thumb {
						background-color: white;
						border-radius: 1vmin;
					}


					&:hover, &:focus {
						border-color: $color_1;
						cursor: pointer;
						color: $color_1;
					}
				}

				a {
					display: flex;
					color: $color_2;
					font-size: 1.5vmin;
					user-select: none;
					width: 100%;
					height: 3vmin;
					border: 0.1vmin solid $color_2;
					justify-content: center;

					span {
						align-self: center;
					}

					&.active {
						color: $color_1;
						border-color: $color_1;
					}

					&:hover {
						cursor: pointer;
					}

					&:active {
						color: $color_1;
						border-color: $color_1;
						transform: scale(0.95);
						opacity: 0.8;
					}
				}

				.container {
					width: 25vmin;
					margin: 1.5vmin;
					gap: 0.85vmin;

					div {
						width: 100%;
						gap: 0.85vmin;
					}
				}

				.inline {
					flex-direction: row;
				}
			}

			[disabled] {
				opacity: 0.5;
			}

			[hidden] {
				display: none;
			}

		}

		h2 {
			font-size: 2vmin;
			font-weight: bold;
			text-align: center;
			padding: 2vmin;
			color: $color_2;
		}

		label, h3, .category-header {
			font-size: 1.4vmin;
			text-align: center;
			color: $color_2;
		}

		footer {
			position: absolute;
			display: inline-block;
			bottom: 0;
			width: 100%;
			font-size: 1vmin;
			padding: 0.5vmin 0.7vmin;
			color: $color_2;
			font-style: italic;
			justify-content: space-around;

			span {
				a {
					color: $color_2;
					text-decoration: none;
					transition: color 0.5s;

					&:hover {
						color: $color_1;

					}
				}

				&:nth-child(2) {
					float: right;
				}
			}

		}
	}

	#menu-box-2 {
		position: absolute;
	}
}

@media (width: 1366px) {
	#menu {
		zoom: 1.75;
	}
}



