$color_1: #FFD200;
$color_2: #F0F8FF;
$color_3: #140075;
$color_4: #6C6C6C;
$font-family_1: "Arial", sans-serif;
$font-family_2: "Segoe UI", sans-serif;
$background-color_1: #000000;
$background-color_2: #140075;
$background-color_3: #F0F8FF;

#container {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	color: $background-color_1;
	margin: 0 3vmin 3vmin 3vmin;
	overflow: hidden;
	transition: margin 1s cubic-bezier(0, 0, 0, 1);

	#inner-description, #titles {
		transition: padding 1s cubic-bezier(0, 0, 0, 1);
	}

	&.no-margin {
		margin: 0;

		#inner-description {
			padding-right: 1.5vmin;
		}

		#titles {
			padding-left: 1.5vmin;
		}
	}

	&.yellow-text {
		color: $color_1;
	}

	&.white-text {
		color: $color_2;
	}
}

#titles {
	display: flex;
	align-items: baseline;
	font-family: $font-family_2;
	column-gap: 6.5vmin;

	.title-pl {
		font-size: 10.5vmin;
		font-weight: bold;
	}

	.title-en {
		font-size: 8.5vmin;
		font-style: italic;
	}
}

#labels {

	table {
		font-size: 2vmin;
		font-weight: bold;
		border-collapse: separate;
		width: 100%;

		th {
			line-height: 1em;
			padding: 2vmin 0 1.5vmin 0;
			text-align: left;

			&:nth-child(1) {
				width: 7%;
				text-align: center;
			}

			&:nth-child(2) {
				width: 9%;
				text-align: center;
			}

			&:nth-child(3) {
				border-left: 1vmin solid black;
				width: 36%;
			}

			&:nth-child(5) {
				vertical-align: bottom;

				#inner-description {
					font-size: 2vmin;
					font-weight: bold;
					white-space: nowrap;
					float: right;
					text-align: left;

					td {
						float: right;

						&:nth-child(-n+2) {
							margin-left: 1vmin;
						}
					}
				}
			}
		}
	}

	&.enlarged {
		table {
			th {
				&:nth-child(1) {
					width: 9%;
				}

				&:nth-child(2) {
					width: 12%;
				}

				&:nth-child(3) {
					width: 32%;
				}

				&:nth-child(5) {
					#inner-description {
						td {
							&:nth-child(-n+2) {
								margin-left: 1.5vmin;
							}
						}
					}
				}
			}
		}
	}
}

#timetables {
	flex-grow: 1;
	background-color: $background-color_2;

	table {
		font-weight: bold;
		table-layout: fixed;
		width: 100%;
		border-collapse: separate;
		background-color: $background-color_2;
		border-spacing: 0 0.7vmin;

		col {
			&.time {
				width: 7%;
			}

			&.trainNo {
				width: 9%;
			}

			&.fromTo {
				width: 36%;
			}

			&.via {
				width: 32%;
			}

			&.operator {
				width: 5%;
			}

			&.platform {
				width: 4%;
			}

			&.remarks {
				width: 7%;
			}
		}

		.special-row {
			background-color: $background-color_3;
			color: $color_3;
			width: 100%;

			span {
				font-weight: 600;
				padding-top: 0.2vmin;
			}
		}

		tr {
			background-color: $background-color_2;

			td {
				color: $color_2;
				font-size: 3vmin;
				overflow: hidden;
				white-space: nowrap;
				text-align: center;
				vertical-align: middle;

				span {
					display: inline-block;
				}

				&:nth-child(2) {

					div {
						background-color: $background-color_3;
						color: $color_3;
						padding-top: 0.2vmin;
					}
				}

				&:nth-child(3) {
					text-align: left;
					border-left: 1vmin solid $color_3;
					font-size: 2.6vmin;
				}

				&:nth-child(4) {
					text-align: left;
					border-left: 1vmin solid $color_3;
					font-style: italic;
					font-weight: normal;
				}

				&:nth-child(7) {
					border-left: 1vmin solid $color_3;
				}
			}

			&:nth-child(n+14) {
				display: none;
			}
		}
	}

	&.enlarged {
		table {
			border-spacing: 0 1.1vmin;

			col {
				&.time {
					width: 9%;
				}

				&.trainNo {
					width: 12%;
				}

				&.fromTo {
					width: 32%;
				}

				&.via {
					width: 29%;
				}

				&.operator {
					width: 6%;
				}

				&.remarks {
					width: 8%;
				}
			}

			tr {
				td {
					font-size: 4vmin;

					&:nth-child(3) {
						font-size: 3.6vmin;
					}

					//&:nth-child(5) {
					//	border-left: 1vmin solid $color_3;
					//}
				}
			}
		}
	}
}

@media (max-aspect-ratio: 4/3)  {
	body {
		#labels {
			table {
				th {
					&:nth-child(1) {
						width: 10%;
					}

					&:nth-child(2), &:nth-child(5) {
						width: 14%;
					}

					&:nth-child(3),  &:nth-child(4) {
						width: 26%;
					}
				}

				#inner-description {
					td {
						&:last-child, &:nth-child(2) {
							display: none;
						}
					}
				}
			}

			&.enlarged {
				table {
					th {
						&:nth-child(1) {
							width: 12%;
						}

						&:nth-child(2), &:nth-child(5) {
							width: 15%;
						}

						&:nth-child(3),  &:nth-child(4) {
							width: 26%;
						}
					}
				}
			}
		}

		#timetables {
			table {
				col {
					&.time {
						width: 10%;
					}

					&.trainNo, &.remarks {
						width: 14%;
					}

					&.fromTo, &.via  {
						width: 26%;
					}

					&.operator, &.platform {
						width: 0;
					}
				}
			}

			&.enlarged {
				table {
					col {
						&.time {
							width: 12%;
						}

						&.trainNo, &.remarks {
							width: 15%;
						}

						&.fromTo, &.via  {
							width: 26%;
						}

						&.operator, &.platform {
							width: 0;
						}
					}
				}
			}
		}
	}
}